DATABASE_URL=postgresql+psycopg2://neondb_owner:...
SQLALCHEMY_ENGINE_OPTIONS=sslmode
SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=qairline@zohomail.com
SMTP_PASSWORD=this_is_password!
EMAIL_FROM="Protein Predictor <ppi_predictor@zohomail.com>"
JWT_SECRET=your_jwt_secret
VERIFICATION_EXP_MIN=10
